.main-content {
	position: relative;
}

.main-content-left {
  width: 30%;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 30px;
  padding: 10px 10px;
}

.main-content-right {
  width: 70%;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 30px;
  padding: 20px 20px;
}